<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Data Analysis</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white font-sans text-gray-900">

    <div class="min-h-screen flex flex-col items-center justify-center bg-green-50">
        <div class="bg-white shadow-lg rounded-xl p-8 w-full sm:w-4/5 md:w-3/5 lg:w-2/5 max-w-lg border-2 border-green-300">
            <h1 class="text-4xl font-extrabold text-center text-green-700 mb-6">
                Sélectionnez une Option
            </h1>
            <div class="space-y-6">
                <a href="{% url 'view_data' %}" class="block text-center py-3 px-6 bg-green-600 text-white rounded-lg hover:bg-green-700 transition duration-200">
                    Afficher les Données
                </a>
                <a href="{% url 'choose_graphic' %}" class="block text-center py-3 px-6 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200">
                    Analyser les Données
                </a>
                <a href="{% url 'probability_menu' %}" class="block text-center py-3 px-6 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200">
                    Calcul des probabilités
                </a>
                <a href="{% url 'tests_menu' %}" class="block text-center py-3 px-6 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200">
                    Tests des hypothèses
                </a>
                
            </div>
            <div class="flex justify-center mt-6">
                <a href="{% url 'upload_file' %}" class="px-6 py-3 bg-green-600 text-white rounded-lg shadow-lg hover:bg-green-700">
                    Importer un autre fichier
                </a>
            </div>
        </div>
    </div>

</body>
</html>
